node_modules/
.idea/
.mta/
*.mtar
dist/
package-lock.json
mta_archives/
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/

# auto generated wildcard
profertil.appCtaCorriente/.env
# auto generated wildcard
profertil.appCtaCorriente/uimodule/.env2
# auto generated wildcard
uimodule/.env1
# auto generated wildcard
uimodule/.env2
# auto generated wildcard
uimodule/.env3